form{
    display: flex;
}

#inputs{
    flex: 1;
    display: flex;
    flex-direction: column;

}

#errors{
    flex: 1;
}

textarea{
    width: 95%;
}

#auth{
    align-self: flex-end;
    margin-right: 25px;
}

#sub{
    align-self: flex-end;
    margin-right: 25px;
    
}