#container{
    display: flex;
    align-items: flex-start;
    border: 1px solid black;
}

#buttons{
    flex:1;
    display: flex;
    flex-direction: column;
}
p{
    margin-top: 0;
}

.item{
    margin: 5px;
}

#votes{
    flex:1;
    align-self: center;
    font-size: 20px;
}

#quote{
    flex: 2;
}